for step in (1 .. 20)
  .width-{step * 5}
    width step * 5%

  .height-{step * 5}
    height step * 5%

for interval in (0 .. 20)
  .mt-{interval * 5}
    margin-top interval * 5px !important

  .mr-{interval * 5}
    margin-right interval * 5px !important

  .mb-{interval * 5}
    margin-bottom interval * 5px !important

  .ml-{interval * 5}
    margin-left interval * 5px !important

  .pt-{interval * 5}
    padding-top interval * 5px !important

  .pr-{interval * 5}
    padding-right interval * 5px !important

  .pb-{interval * 5}
    padding-bottom interval * 5px !important

  .pl-{interval * 5}
    padding-left interval * 5px !important

.text-center
  text-align center

.text-right
  text-align right

.text-left
  text-align left
