// font families
font-family-default = 'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'ヒラギノ角ゴ ProN W3', Meiryo, sans-serif
// font sizes
font-size-sm = 11px
font-size-md = 13px
font-size-lg = 18px
font-size-xlg = 24px
// line-height
line-height-default = 1.8
